{% extends 'quotesapp/base.html' %} {% block content %}
<div>
    <h2>Log in</h2>
</div>
{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<form action="{% url 'users:login' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="username">Username</label>
                {{ form.username }}
<!--                <input type="text" class="form-control" id="username" name="username">-->
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="username">Password</label>
                {{ form.password }}
<!--                <input type="password" class="form-control" id="password" name="password">-->
            </div>
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock %}